/*-------------------------
	Simple reset
--------------------------*/




/*-------------------------
	General Styles
--------------------------*/








/*----------------------------
	Main Section
-----------------------------*/

#note{
	color: #9932CC;
	font-size: 20px;
	margin: 0 auto;
	padding: 4px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(154, 18, 179, 1);
	width: 400px;
}

